@model Portal.Core.Database.Profile

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    $(document).ready(function () {
        $("#form-create-profile").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
            }).done(function (data) {
                if (data.success) {
                    location.href = "/quan-ly-nguoi-dung";
                }
                else {
                    alert(data.message);
                }
            }).fail(function () {
                alert("Có lỗi xảy ra trong khi xóa. Vui lòng thử lại lần nữa.");
            })
            return false;
        });
    });
</script>

@using (Html.BeginForm("Create", "Profile", null, FormMethod.Post, new { id = "form-create-profile" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            <h3 style="display: inline-block;">Tạo mới người dùng</h3>
            <p class="pull-right">
                @Html.ActionLink("Quay lại danh mục", "Index", null, new { @class = "btn btn-sm btn-default" })
            </p>
        </div>

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2" for="Email">Email</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Password">Mật khẩu</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Address">Địa chỉ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="City">Thành phố</label>
            <div class="col-md-10">
                @if (ViewBag.City == null)
                {
                    @Html.DropDownList("City", new SelectList(string.Empty, "Value", "Text"), "Vui lòng chọn...", new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownList("City", ViewBag.City as List<SelectListItem>, "Vui lòng chọn...", new { @class = "form-control" })
                }
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Phone">Số điện thoại</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
