@model IEnumerable<Portal.Core.Database.Profile>

@{
    ViewBag.Title = "Danh mục người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
        $(document).ready(function () {
            $(".btnDelete").click(function (e) {
                e.preventDefault();
                if (confirm('Bạn có thật sự muốn xóa người dùng này?')) {
                    $.ajax({
                        url: '@Url.Action("Delete")',
                        type: "POST",
                        data: { id: $(this).attr("data-id") },
                    }).done(function (data) {
                        if (data.success) {
                            //Refresh
                            location.reload();
                        }
                        else {
                            alert("Có lỗi xảy ra trong khi xóa. Vui lòng thử lại lần nữa.");
                        }
                    }).fail(function () {
                        alert("Có lỗi xảy ra trong khi xóa. Vui lòng thử lại lần nữa.");
                    })
                }
                return false;
            });
        });
</script>

<div style="padding-bottom: 10px;">
    <h3 style="display: inline-block;">Danh mục người dùng (@Model.Count().ToString())</h3>
    <p class="pull-right">
        @Html.ActionLink("Tạo mới người dùng", "Create", null, new { @class = "btn btn-sm btn-info" })
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
                Mật khẩu
            </th>*@
        <th>
            Địa chỉ
        </th>
        <th>
            Thành phố
        </th>
        <th>
            Số điện thoại
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @{
        if (item.City.HasValue)
        {
            var city = Portal.Core.Service.CategoryService.GetCategoryById(item.City.Value);
            if (city != null)
            {
                <span>@city.Name</span>
            }
        }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                <button class="btn btn-sm btn-danger btnDelete" data-id=@item.Id>Xóa</button>
            </td>
        </tr>
    }

</table>
