@model Portal.Core.Database.Company

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Company</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ranking)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ranking)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Director)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Director)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CountView)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CountView)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Image.FileName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Image.FileName)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
