@model List<Portal.Core.Database.Category>

<div class="boxItem">
    <h1 class="title">@(Portal.Core.Service.EnumHelper.GetDescriptionFromEnum((Portal.Core.Service.BaseService.CategoryType)Model.First().Type))</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="listJob @(Model.First().Type == (int)Portal.Core.Service.BaseService.CategoryType.City ? "listCity" : "")">
                @foreach (var category in Model)
            {
                    <li>
                        <i class="glyphicon @(Model.First().Type == (int)Portal.Core.Service.BaseService.CategoryType.City ? "glyphicon-globe" : "glyphicon-tint")"></i> <a href="#" title="@category.Name">@category.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<!--End Box-->