@using Portal.CMS.Models
@model Portal.CMS.Models.RequestConfirmViewModel
@{
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    ViewBag.Title = "Quên mật khẩu";
}

<div id="login-panel-wrapper">
    <div id="login-panel" class="panel-group">
        <div class="panel panel-default center">
            <div class="panel-heading">
                <img alt="Mạng việc làm và tuyển dụng nguồn nhân lực cao tại Việt Nam - ZODY" src="~/Images/logo.png" />
            </div>
            <div class="panel-body">
                <span class="light-300" style="font-size:14px">Đăng nhập hoặc đăng ký thành viên nhanh bằng tài khoản</span>
                <div class="row">
                    <div class="social-row">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>
                </div>
                <div style="width: 100%;height: 11px;border-bottom: 1px solid #ddd;margin: 20px 0;">
                    <span style="font-size: 13px; background-color: #FFF; padding: 0 10px;color: #aaa;">Bạn chưa xác nhận địa chỉ email !!!</span>
                </div>
                @using (Html.BeginForm("RequestConfirm", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", name = "requestconfirmForm", @class = "form-horizontal" }))
                {

                    <div class="helper">
                        <p>Email <strong>@Html.DisplayFor(model => model.Email)</strong> đã được đăng ký thành công trước đây nhưng chưa hoàn tất quá trình xác nhận địa chỉ email, vì vậy xin vui lòng</p>
                        <p>&#8226; Kiểm tra hòm thư của bạn và tìm email xác nhận (chủ đề: "Xác minh email của ZODY"). Làm theo các bước trong email để xác nhận địa chỉ email của bạn.</p>
                        <p>&#8226; Hoặc nếu bạn không thể tìm thấy email xác nhận lúc đăng ký, bạn có thể nhấn vào nút "GỬI LẠI XÁC NHẬN" bên dưới để hệ thống gửi lại một email xác nhận khác</p>
                     
                    </div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="input-field col-md-12">
                            @*<input id="email" type="email" class="validate">*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Nhập địa chỉ email của bạn", required = "", ng_model = "userData.Email", type = "email", name = "Email", id = "email", autofocus = "0" })

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 right">
                            <input type="submit" value="GỬI LẠI XÁC NHẬN" class="btn btn-primary" />                            
                        </div>
                    </div>
                    }
            </div>
        </div>
    </div>

    <div class="copyright-text">&copy; 2016 <strong>ZODY</strong>. Mạng tuyển dụng trực tuyến Việt Nam</div>
</div>