@using PagedList.Mvc
@using PagedList;

@model IPagedList<Portal.Core.Database.Company>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <p class="lead">Doanh nghiệp</p>
            @foreach (var company in Model)
            {
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cong-ty-tnhh-mtv-co-khi-hiep-duoc-id427.html" title=@company.Name>@company.Name</a>
                            </h3>
                        </div>
                        <div class="panel-body text-justify">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="http://quangbathuonghieuviet.vn/doanh-nghiep/cong-ty-tnhh-mtv-co-khi-hiep-duoc-id427.html" title=@company.Name>
                                        <img style="max-width: 100%;" src="http://quangbathuonghieuviet.vn/data/enterprise/200/59e88b3ca99b43d3308cd568473cfba0.png" alt=@company.Name>
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <div class="rowInfo" style="@(string.IsNullOrEmpty(company.Address) ? "display: none": "display: block")">
                                        <i class="glyphicon glyphicon-globe"></i> <span>@company.Address</span>
                                    </div>
                                    <div class="rowInfo" style="@(string.IsNullOrEmpty(company.Email) ? "display: none": "display: block")">
                                        <i class="glyphicon glyphicon-envelope"></i> <span>@company.Email</span>
                                    </div>
                                    <div class="rowInfo" style="@(string.IsNullOrEmpty(company.Phone) ? "display: none": "display: block")">
                                        <i class="glyphicon glyphicon-phone"></i> <span>@company.Phone</span>
                                        @*<a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin*@
                                    </div>
                                    <div class="rowInfo" style="@(company.CountView == null ? "display: none": "display: block")">
                                        <i class="glyphicon glyphicon-eye-open"></i> <span>@company.CountView</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="text-center">
                @Html.PagedListPager(Model, page =>
                                Url.Action("Index", new
                                {
                                    page,
                                    Keyword = Request.QueryString["keyword"],
                                }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>

