@using PagedList.Mvc
@using PagedList;

@model IPagedList<Portal.Core.Database.Company>

<!--pageContent-->
<div class="pageContent">
    <!--colLeft-->
    <div class="colLeft">
        <div class="boxItem">
            <h1 class="title">Doanh nghiệp <span class="numpost">(Có 352 doanh nghiệp)</span></h1>
            <div class="boxContent">
                <div class="row">
                    @foreach (var company in Model)
                    {
                        <div class="col-lg-6">
                            <div class="enterprise">
                                <h3 class="title">
                                    <a href="#" title="@company.Name">@company.Name</a>
                                </h3>
                                <div class="clearfix"></div>
                                <div class="enterpriseLogo">
                                    <a href="#" title="@company.Name">
                                        <img src="http://quangbathuonghieuviet.vn/data/enterprise/200/59e88b3ca99b43d3308cd568473cfba0.png" alt="@company.Name" />
                                    </a>
                                </div>
                                <div class="enterpriseInfo">
                                    <div class="rowInfo" style="@(string.IsNullOrEmpty(company.Address) ? "display: none": "display: block")">
                                        <i class="glyphicon glyphicon-globe"></i> <span>@company.Address</span>
                                    </div>
                                    <div class="rowInfo" style="@(string.IsNullOrEmpty(company.Email) ? "display: none": "display: block")">
                                        <i class="glyphicon glyphicon-envelope"></i> <span>@company.Email</span>
                                    </div>
                                    <div class="rowInfo" style="@(string.IsNullOrEmpty(company.Phone) ? "display: none": "display: block")">
                                        <i class="glyphicon glyphicon-phone"></i> <span>@company.Phone</span>
                                        @*<a href="javascript:;" class="linkdangky">Đăng ký</a> thành viên để xem thông tin*@
                                    </div>
                                    <div class="rowInfo" style="@(company.CountView == null ? "display: none": "display: block")">
                                        <i class="glyphicon glyphicon-eye-open"></i> <span>@company.CountView</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                </div>
                <div class="text-center">
                    @Html.PagedListPager(Model, page =>
                                Url.Action("Index", new
                                {
                                    page,
                                    keyword = Request.QueryString["keyword"],
                                }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                </div>
            </div>
        </div>
        <!--End Box-->
        <!--Box-->
    </div>
    <!--End colLeft-->
    <!--colRight-->
    <!--End colRight-->
    <div class="clearfix"></div>
</div>
<!--End pageContent-->