<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="G6AiGw3os7WPIIVtbjIQ7dNPF_Gnwe29Zvr4cEIHywA" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="vi" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trung Tâm Quảng Bá Thương Hiệu Việt</title>
    <meta name="Description" content="Trung tâm Quảng bá thương hiệu công ty, Doanh nghiệp, cơ sở kinh doanh đến khách hàng hiệu quả uy tín.">
    <meta name="Keywords" content="ho so doanh nghiep, quang ba doanh nghiep">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://quangbathuonghieuviet.vn/">
    <meta property="og:title" content="Trung Tâm Quảng Bá Thương Hiệu Việt.">
    <meta property="og:image" content="http://quangbathuonghieuviet.vn//data/logo.png">
    <meta property="og:site_name" content="Trung Tâm Quảng Bá Thương Hiệu Việt.">
    <meta property="og:description" content="Trung tâm Quảng bá thương hiệu công ty, Doanh nghiệp, cơ sở kinh doanh đến khách hàng hiệu quả uy tín.">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta property="fb:app_id" content="1085218064863895" />
    <link rel="icon" type="image/ico" href="~/favicon.ico">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-74699787-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=1085218064863895";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div id="wrapper">
        <!--Header-->
        <header>
            <div class="navTop navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-left" aria-expanded="false">
                            <span class="sr-only"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-left" style="padding: 0px; border:none;">
                        @Html.Action("Menu", "Home")
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="container" style="padding: 0;">
                <div class="headerLeft">
                    <a href="#"><img src="http://quangbathuonghieuviet.vn/templates/images/logo.png" /></a>
                </div>
                <div class="headerRight">
                    <div class="">
                        <div class="boxContent">
                            <p><img alt="" src="http://quangbathuonghieuviet.vn/data/images/banner/BNquan%20ba%20thuong%20hieu-1.jpg" style="height:175px; width:900px" /></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Header-->
        <!--Body-->
        <div class="container" style="background: #fff; margin-top: 10px;">
            <!--pageContent-->
            <div class="pageContent">
                <!--colLeft-->
                <div class="colLeft">
                    @RenderBody()
                </div>
                <!--End colLeft-->
                <!--colRight-->
                <div class="colRight">
                    @Html.Action("SearchPartial", "Home")
                    <hr />
                    @Html.Action("ListCategory", "Category", new { categoryType = Portal.Core.Service.BaseService.CategoryType.Trades })
                    <hr />
                    @Html.Action("ListCategory", "Category", new { categoryType = Portal.Core.Service.BaseService.CategoryType.City })
                </div>
                <!--End colRight-->
                <div class="clearfix"></div>
            </div>
            <!--End pageContent-->

        </div>
        <!--End Body-->
        <!--Footer-->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="copyright-text">&copy; @DateTime.Now.Year - Công Ty TNHH MTV Ứng Dụng Công Nghệ Phần Mềm Việt.</div>
                    <div><i class="glyphicon glyphicon-globe"></i> 05 Nguyễn Cao - Phường Thanh Khê Đông - Quận Thanh Khê - Tp Đà Nẵng</div>
                    <div>
                        <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:quangbathuonghieuviet2010@gmail.com" rel="nofollow">quangbathuonghieuviet2010@gmail.com</a> - <i class="glyphicon glyphicon-phone"></i>0916355445
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
    </div>

</body>
</html>
